[submodule "UnitsEngine/vendor/spdlog"]
	path = UnitsEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "UnitsEngine/vendor/sdl_image"]
	path = UnitsEngine/vendor/sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "UnitsEngine/vendor/sdl"]
	path = UnitsEngine/vendor/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "UnitsEngine/vendor/imgui/imgui"]
	path = UnitsEngine/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
